*, *::before, *::after {
  box-sizing: border-box;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 20em;
}

form {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-field::after {
  content: attr(aria-label);
}

.text-field {
  font-size: 14px;
  position: relative;
  --field-padding: 20px;
  border-top: 20px solid transparent;
}

.text-field input {
  border: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #ffffff;
  border-radius: 3px;
  width: 500px;
  font-size: 20px;
  padding: var(--field-padding);
}

input:focus + .placeholder {
  color: transparent;
}

.form-submit-button {
  display: block;
  margin-top: 20px;
  text-align: center;
  padding: 15px;
  font-size: 20px;
	background: #016ABC;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 5px;
	box-shadow: 5px 5px 5px rgb(239, 232, 232);
	text-shadow: none;
}

.form-submit-button:hover {
	background: #B9DFFF;
	color: #fff;
	border: 1px solid #eee;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #eee;
	text-shadow: none;
}